@import "tailwindcss";

@theme{
  --color-primary:#23382f;
  --color-accent:#efc33e;
  --color-secondary:white;
  --color-text:#1c1d1d;
  --font-default:Poppins,sans-serif;
  --text-heading:@apply text-2xl
}

@layer components {
  .heading{
    @apply text-4xl
  }
}